<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongruan.population.mapper.MsArticleMapper">

    <resultMap id="BaseResultMap" type="com.dongruan.population.entity.MsArticle">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="commentCounts" column="comment_counts" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="BIGINT"/>
        <result property="summary" column="summary" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="viewCounts" column="view_counts" jdbcType="INTEGER"/>
        <result property="weight" column="weight" jdbcType="INTEGER"/>
        <result property="authorId" column="author_id" jdbcType="BIGINT"/>
        <result property="bodyId" column="body_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,comment_counts,create_date,
        summary,title,view_counts,
        weight,author_id,body_id
    </sql>


    <select id="listArticles" resultType="com.dongruan.population.entity.MsArticle">
        select * from ms_article
        <where>
            1 = 1
            <if test="year != null and year.length>0 and month != null and month.length>0">
                and (FROM_UNIXTIME(create_date/1000,'%Y') =#{year} and FROM_UNIXTIME(create_date/1000,'%m')=#{month})
            </if>
        </where>
        order by weight,create_date desc
    </select>


</mapper>
