<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongruan.population.mapper.PersonMapper">

    <resultMap id="BaseResultMap" type="com.dongruan.population.entity.Person">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="identifyCode" column="identify_code" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="clas" column="clas" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,identify_code,
        sex,birthday,address,
        phone,clas
    </sql>

    <update id="updateByConditons" >
        update person
        <set>
            <if test="person.phone!=null and person.phone!='' ">
                name = #{person.phone},
            </if>
            <if test="person.address!=null and person.address!=''">
                address  = #{person.address},
            </if>
        </set>
        <where>
            <if test="conditions.containsKey('name')">
                and name = #{conditions.name}
            </if>
        </where>

    </update>

    <select id="selectAll" resultType="com.dongruan.population.entity.Person">
        select *
        from person
    </select>

    <select id="selectByConditions" resultType="com.dongruan.population.entity.Person">
        select * from person
        <where>
            1=1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != '' ">
                and name = #{name}
            </if>
            <if test="identifyCode != null and identifyCode != '' ">
                and identify_code = #{identifyCode}
            </if>
            <if test="sex != null and sex != '' ">
                and sex = #{sex}
            </if>
            <if test="birthday != null and birthday != '' ">
                and birthday = #{birthday}
            </if>
            <if test="address != null and address != '' ">
                and address = #{address}
            </if>
            <if test="phone != null and phone != '' ">
                and birthday = #{birthday}
            </if>
            <if test="clas != null and clas != '' ">
                and clas = #{clas}
            </if>

        </where>

    </select>
</mapper>
